openai
torch
langchain
langchain-community
transformers
streamlit
pandas 
mlflow
notebook
numpy
scikit-learn
matplotlib
python-box
pyYAML
tqdm
ensure
joblib
types-PyYAML
Flask
Flask-Cors
torch
torchvision
category-encoders
transformers
scipy
seaborn
tensorflow
openpyxl
xgboost
streamlit
hopsworks
nltk
faiss-cpu
pypdf
boto3
langchain-aws